apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ (ds "data").APP_NAME }}-pv
  namespace: {{ (ds "data").NAMESPACE }}
spec:
  storageClassName: ""
  capacity:
    storage: {{ (ds "data").STORAGE }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  local:
    path: {{ (ds "data").STORAGE_PATH }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - cloud
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ (ds "data").APP_NAME }}-pvc
  namespace: {{ (ds "data").NAMESPACE }}
spec:
  storageClassName: "" 
  volumeName: {{ (ds "data").APP_NAME }}-pv
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ (ds "data").STORAGE }}
